.header-container {
    padding: 1rem ;
    display: flex;
    justify-content: flex-start;
    background-color:aliceblue;
    flex-direction: column;  
}

.logo {
    color: #FF7233;
    font-size: 30px;
    padding-left: 10%;
    font-weight: bold;
}
